# Thêm các thư viện cần thiết

In [4]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score

In [5]:
data = pd.read_csv('cadata.txt', header=None, delim_whitespace=True, encoding='latin1')

In [6]:
column_names = [
    'Median House Value', 'Median Income', 'Housing Median Age', 
    'Total Rooms', 'Total Bedrooms', 'Population', 'Households', 
    'Latitude', 'Longitude'
]
data.columns = column_names
data.head()

,Median House Value,Median Income,Housing Median Age,Total Rooms,Total Bedrooms,Population,Households,Latitude,Longitude
0,452600.0,8.3252,41.0,880.0,129.0,322.0,126.0,37.88,-122.23
1,358500.0,8.3014,21.0,7099.0,1106.0,2401.0,1138.0,37.86,-122.22
2,352100.0,7.2574,52.0,1467.0,190.0,496.0,177.0,37.85,-122.24
3,341300.0,5.6431,52.0,1274.0,235.0,558.0,219.0,37.85,-122.25
4,342200.0,3.8462,52.0,1627.0,280.0,565.0,259.0,37.85,-122.25

In [7]:
Features = ['Median Income', 'Housing Median Age', 'Total Rooms',
            'Total Bedrooms', 'Population', 
            'Households', 'Latitude', 'Longitude']

In [8]:
X = data[Features]
y = data['Median House Value']

In [9]:
X.head()

,Median Income,Housing Median Age,Total Rooms,Total Bedrooms,Population,Households,Latitude,Longitude
0,8.3252,41.0,880.0,129.0,322.0,126.0,37.88,-122.23
1,8.3014,21.0,7099.0,1106.0,2401.0,1138.0,37.86,-122.22
2,7.2574,52.0,1467.0,190.0,496.0,177.0,37.85,-122.24
3,5.6431,52.0,1274.0,235.0,558.0,219.0,37.85,-122.25
4,3.8462,52.0,1627.0,280.0,565.0,259.0,37.85,-122.25

In [10]:
y.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: Median House Value, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

## Training ML Model

In [12]:
from sklearn.tree import DecisionTreeRegressor

dt_model = DecisionTreeRegressor(random_state=1)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [14]:
dt_model.fit(X_train_scaler, y_train)

DecisionTreeRegressor(random_state=1)

In [15]:
y_pred = dt_model.predict(X_test_scaler)

In [16]:
pd.DataFrame({'y' : y_test, 'y_pred' : y_pred})

              y    y_pred
14740  136900.0  134800.0
10101  241300.0  267600.0
20566  200700.0  133400.0
2670    72500.0   62000.0
15709  460000.0  275000.0
...         ...       ...
6655   169500.0  203700.0
3505   204600.0  165100.0
1919   128600.0  107200.0
1450   259500.0  297300.0
4148   167600.0  144600.0

[4128 rows x 2 columns]